<head>


        <title>Products Table</title>
        <link rel="shortcut icon" href="product.png"/>
        <link rel="stylesheet" type="text/css" href="producttable.css">

</head> 
<body>


        <header>
                <div class="main">
                <div class="logo">
                    <img src="tedx-logo.png">
                </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">content</a></li>
                        <li><a href="#">Create free account</a></li>
                        <li><a href="#">login</a></li>
                    </ul>
                    <br><br>
                    
            </div>
           
        
            
        












    <table class="container">
        <thead>
            <tr>
                <th><h1>Sites</h1></th>
                <th><h1>Quantity</h1></th>
                <th><h1>price</h1></th>
                <th><h1>category</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>shirt</td>
                <td>20</td>
                <td>100 LE</td>
                <td>clothes</td>
            </tr>
            <tr>
                <td>cups</td>
                <td>10</td>
                <td>30 LE</td>
                <td>cups</td>
            </tr>
            <tr>
                <td>ticket</td>
                <td>200</td>
                <td>50 LE</td>
                <td>tickets</td>
            </tr>
       
        
        </tbody>
    </table>







    <div class="center">
			<h1 class="D3"> Data Structure Success precentage</h1>
			
			
			
			
			<div class="D3Box">
				<font size="5"><p>Group A</p></font>
				<p>90%</p>
				<div class="success">
					<div class="success_level"style="width:90%"></div>
				</div>
			</div>
			
			
			
			
			<div class="D3Box">
				<font size="5"><p>Group B</p></font>
				<p>60%</p>
				<div class="success">
					<div class="success_level"style="width:60%"></div>
				</div>
			</div>
			
			
			
			
			<div class="D3Box">
				<font size="5"><p>Group C</p></font>
				<p>20%</p>
				<div class="success">
					<div class="success_level"style="width:20%"></div>
				</div>
			</div>

		</div>

</header>
</body>