


*{
	margin:0;
	padding:0;
	font-family:sans-serif;
	

}

header{
	
	background:url(Login.jpg);
	height:150vh;
	background-size:cover;
	background-position:center;
	
}


.logo img{
	float:left;
	width:300px;
	height:auto;

}

ul{
	
	float:right;
	margin-top:25px;
}

ul li{
	
	display: inline-block;
}


ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border:2px solid white;
	border-radius:200px
	
}


ul li a:hover{
		background-color:white;
		color:black;
		text-decoration: none;
}
















.loginform{

	
		width:400px;
		height:600px;
		background:white;
		color:black;
		top:40%;
		left:40%;
		position:absolute;
		transform:traslate(-50%,-50%);
		box-sizing:border-box;
		padding:70px 30px;
	
	
}

.user{
		width:100px;
		height:100px;
		border-radius:50%;
		position:absolute;
		top:-50px;
		left:calc(50% - 50px);
	
	
}


h1{
	font-family:Times New Roman; 
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:30px;
	font-weight:3000;
	
	
	
}

p{
	
	margin:0;
	padding:0 0 20px;
	text-align:left;
	font-size:20px;
	
}

input{

	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;

}

.Login{


	padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #b30000;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #b30000;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.Login:hover{

	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #c51a1a;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #c51a1a;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;

}

.Link{
	font-family:Times New Roman;
	color:black;
	text-align:center;
	text-decoration: none;
	padding: 5px 90px;
	border:0px solid white;
	border-radius:200px
	
}
.Link:hover{

	background-color:#b30000;
	color:white;
	text-decoration: none;

}






