
@import url(http://fonts.googleapis.com/css?family=Montserrat);
* 
{
	margin: 0; 
	padding: 0;
}
body
{
	margin: 0;
	font-size: 100%;
	line-height: 1.231; 

	background-image: url("../pictures/Background.jpg" );
	background-repeat: no-repeat;
	background-size:100%;
    font-family: montserrat, arial, verdana;
}
h1/*are you*/
{
	color:white;
}
h2/*or a */
{
	color:white;
}
.choice /*Parent Or Employee*/
{
    background-color:none;
  
	border:transparent;
    position:fixed;
    top: 50%;
    left: 50%;
    width:50%;
    height:50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
   
}
#backE ,  #backP
{
	background-color: violet ;
	width:200px;
    height:50px;

}
#parent /*are you or a .. button */
{
    background-color: teal;
    width:475px;
    height:50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    border-radius:10px;
    cursor: pointer;
}
#employee/*are you or a .. button */
{
    background-color: teal;
    width:475px;
    height:50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    border-radius:10px;
    cursor: pointer;
}
#parentForm /*whole parent form */
{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#parentForm fieldset /*each form of registration */
{
	background: Teal;
	border: 0 none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#parentForm fieldset:not(:first-of-type)
{
	display: none;
}
/*inputs*/
#parentForm input, #parentForm textarea
{
	padding: 15px;
	border: 1px solid #ccc;/*color of border inside teh text field*/
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#parentForm .action-button
{
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#parentForm .action-button:hover, #parentForm .action-button:focus
{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.Form_Title /*Form title styling*/
{
	font-size:25px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
}
.Form_Subtitle/*Subtitles styling */
{
	font-weight: normal;
	font-size: 20px;
	color: whitesmoke;
	margin-bottom: 20px;
}
#ProgressBar /* progressbar position */
{
	margin-bottom: 80px; 
	counter-reset: step;/*count automatically steps*/
}
#ProgressBar li /*progressbar steps*/
{
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
    width: 20%;
    left:-15px;
	float: left;
	position: relative;
}
#ProgressBar li:before
{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#ProgressBar li:after
{
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#ProgressBar li:first-child:after
{
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#ProgressBar li.active:before,  #ProgressBar li.active:after
{
	background: #27AE60;
	color: white;
}

/*Employyee design */

#Dropdown
{
	padding: 15px;
	border: 1px solid #ccc;/*color of border inside teh text field*/
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px; 
}
#MedicalTest
{
	padding: 15px;
	border: 1px solid #ccc;/*color of border inside teh text field*/
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px; 
}
#C.V
{
	padding: 15px;
	border: 1px solid #ccc;/*color of border inside teh text field*/
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px; 
}

#employeeForm /*whole parent form */
{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#employeeForm fieldset /*each form of registration */
{
	background: Teal;
	border: 0 none;
	border-radius: 3px;
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#employeeForm fieldset:not(:first-of-type)
{
	display: none;
}
/*inputs*/
#employeeForm input, #employeeForm textarea
{
	padding: 15px;
	border: 1px solid #ccc;/*color of border inside teh text field*/
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#employeeForm .action-button
{
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#employeeForm .action-button:hover, #employeeForm .action-button:focus
{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.Form_Title /*Form title styling*/
{
	font-size:25px;
	text-transform: uppercase;
	color: Black;
	margin-bottom: 10px;
}
.Form_Subtitle/*Subtitles styling */
{
	font-weight: normal;
	font-size: 20px;
	color: whitesmoke;
	margin-bottom: 20px;
}
#ProgressBar /* progressbar position */
{
	margin-bottom: 80px; 
	counter-reset: step;/*count automatically steps*/
}
#ProgressBar li /*progressbar steps*/
{
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
    width: 20%;
    left:-15px;
	float: left;
	position: relative;
}
#ProgressBar li:before
{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#ProgressBar li:after
{
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#ProgressBar li:first-child:after
{
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#ProgressBar li.active:before,  #ProgressBar li.active:after
{
	background: #27AE60;
	color: white;
}


